
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    font-family: 'Roboto', sans-serif;
}

button, input[type=submit] {
    background: rgb(16,73,138);
    color: ghostwhite;
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
}

button, input[type=submit]:hover {
    background: rgb(22,91,161);
}

button, input[type=submit]:active {
    background: rgb(10,54,121);
}

main#body-main {
    width: 23%;
    margin: 0px auto;
    transform: translateY(50%);
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
}

header#window-head {
    color: ghostwhite;
    background: rgb(16,73,138);
    height: 7%;
}

header#window-head > p {
    text-align: center;
    font-weight: 900;
    font-size: 22px;
}

span.space {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

span.nospace {
    display: block;
}

#window-main {
    text-align: center;
    padding: 15px;
    flex-grow: 1;
}

.float-left {
    float: left;
}

strong.warning {
    color: firebrick;
}

strong.ok {
    color: green;
}